# Node modules
/node_modules/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Optional: build artifacts
dist/
build/
